parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Convoca\\Gateway\\Admin_Links\:\:\$items\.$#'
			identifier: property.notFound
			count: 1
			path: includes/Admin_Links.php

		-
			message: '#^Call to an undefined method Convoca\\Gateway\\Admin_Links\:\:display\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Admin_Links.php

		-
			message: '#^Call to an undefined method Convoca\\Gateway\\Admin_Links\:\:get_pagenum\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Admin_Links.php

		-
			message: '#^Call to an undefined method Convoca\\Gateway\\Admin_Links\:\:row_actions\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Admin_Links.php

		-
			message: '#^Call to an undefined method Convoca\\Gateway\\Admin_Links\:\:set_pagination_args\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Admin_Links.php

		-
			message: '#^Call to an undefined static method WP_List_Table\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: includes/Admin_Links.php

		-
			message: '#^Access to an undefined property Convoca\\Gateway\\Admin_Payments\:\:\$_column_headers\.$#'
			identifier: property.notFound
			count: 1
			path: includes/Admin_Payments.php

		-
			message: '#^Access to an undefined property Convoca\\Gateway\\Admin_Payments\:\:\$items\.$#'
			identifier: property.notFound
			count: 1
			path: includes/Admin_Payments.php

		-
			message: '#^Call to an undefined method Convoca\\Gateway\\Admin_Payments\:\:display\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Admin_Payments.php

		-
			message: '#^Call to an undefined method Convoca\\Gateway\\Admin_Payments\:\:get_pagenum\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Admin_Payments.php

		-
			message: '#^Call to an undefined method Convoca\\Gateway\\Admin_Payments\:\:row_actions\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Admin_Payments.php

		-
			message: '#^Call to an undefined method Convoca\\Gateway\\Admin_Payments\:\:search_box\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Admin_Payments.php

		-
			message: '#^Call to an undefined method Convoca\\Gateway\\Admin_Payments\:\:set_pagination_args\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/Admin_Payments.php

		-
			message: '#^Call to an undefined static method WP_List_Table\:\:__construct\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: includes/Admin_Payments.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#5 \$fix \(string\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 1
			path: includes/Diagnostic.php
